extends ../layouts/cms-base.pug

block content 

    main.cont-sm
        form.form-1(action="/cms/change-password" method="post") 
            h3 Change Your Password 
            input.form-input(class=changeErr=='incorrect password' ? 'incorrect' : '' type="password" name="old" placeholder="Enter your current password" required value=password)
            if changeErr == "incorrect password"
                span.error-msg #{changeErr}
            input.form-input(class=changeErr=='not strong password' ? 'incorrect' : '' type="password" name="new" placeholder="Enter new password" required)
            if changeErr == "not strong password"
                span.error-msg Please choose a strong password: 
                    ul(style="list-style-position: inside;")
                        li.light-bold At least one digit.
                        li.light-bold At least one lowercase letter.
                        li.light-bold At least one uppercase letter.
                        li.light-bold At least one special character.
                        li.light-bold Minimum length of 8 characters.
            input.form-input(class=changeErr=='passwords do not match' ? 'incorrect' : '' type="password" name="cnew" placeholder="Confirm new password" required)
            if changeErr == "passwords do not match"
                span.error-msg #{changeErr}

            button(type="submit") Upload