extends ../layouts/cms-base.pug

block styles 

block content 
    main
        .cont-sm
            .line-above-heading.margin-top-xs
            h2.heading-with-top-border Contact Form Submissions
            div.contacts-container.margin-top-xs
                - for(let i = 0; i < contacts.length; i++) {
                    .text-card
                        .text-card__heading
                            span #{contacts[i].name}
                        p #{contacts[i].message}
                        .text-card__footer
                            div
                                div
                                    svg(xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512')
                                        path(d='M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z')
                                    a(href=`tel:${contacts[i].phone}`) #{contacts[i].phone}
                            div
                                svg(xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512')
                                    path(d='M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z')
                                a(href=`mailto:${contacts[i].email}`) #{contacts[i].email}
                            div
                                svg(xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512')
                                    path(d='M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z')
                                | #{new Date(contacts[i].date).toLocaleDateString('en-US', {month: 'short', day:'numeric', year: 'numeric'})}

                        //- a(href=`/cms/delete-contact-us/:${contacts[i].cid}`)
                        button.text-card__del-btn.btn-open-modal(data-link=`/cms/delete-contact-us/${contacts[i].cid}`) Delete

                - }

            if !(contacts.length < 25)
                button.load-more.btn-secondary.margin-top-sm.margin-bottom-xl
                    ion-icon(name="cloud-download-sharp")
                    | load more

            //- End message. Hidden by default
            div.end-message.margin-top-sm.margin-bottom-lg.hidden
                | No more contacts
                br
                | :-|

    script.
        const container = document.querySelector(".contacts-container");
        const loadMoreBtn = document.querySelector(".load-more");

        const printContacts = (contacts) => {
            for(let i = 0; i < contacts.length; i++) {
                let html = `
                    <div class="text-card">
                        <div class="text-card__heading">
                            <span>${contacts[i].name}</span>
                        </div>
                        <p>${contacts[i].message}</p>
                        <div class="text-card__footer">
                            <div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                    <path d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z"></path>
                                    </svg>
                                    <a href="tel:${contacts[i].phone}">${contacts[i].phone}</a>
                                </div>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                    <path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"></path>
                                </svg><a href="mailto:${contacts[i].email}">${contacts[i].email}</a>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path>
                                </svg>
                                ${new Date(contacts[i].date).toLocaleDateString('en-US', {month: 'short', day:'numeric', year: 'numeric'})}
                            </div>
                        </div>
                        <button class="text-card__del-btn btn-open-modal" data-link="/cms/delete-contact-us/${contacts[i].cid}">Delete</button>
                    </div>
                `;
                container.insertAdjacentHTML("beforeend", html)
            }
        } 

        let offset = 25;

            //- Function to fetch contacts from server asynchronously
        async function fetchContacts(offset) {
            let url = `/cms/fetch-contacts?offset=${offset}`;
            let response = await fetch(url);
            let contacts = await response.json();

            return contacts;
        }

        loadMoreBtn.addEventListener("click", () => {
            fetchContacts(offset)
            .then((contacts) => {
                printContacts(contacts);

                offset += 25;

                attachEventListeners();

                manageLoadMore(checkEnd(contacts));

            }).catch(err => console.log(err))
        })


