extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading= accreditation.section_title || 'Accreditations'
                p= accreditation.section_description

            //- Cards container
            .courses-cards.align-cards-center
                //- Dynamic Cards
                each subsection in subsections
                    article.courses-card(onclick=`window.location.href='/about/newaccreditations/${subsection.id}'` style="cursor: pointer")
                        //- Card image
                        div 
                            if subsection.thumbnail_path
                                img(src=subsection.thumbnail_path, alt=subsection.subsection_title)
                            else
                                //- Fallback image if no thumbnail
                                img(src="/data/imgs/default-accreditation.jpg", alt="Accreditation")
                        
                        //- Card content
                        .courses-card__content
                            span.courses-card__content--title= subsection.subsection_title
                            
                            //- Create subtitle from first sentence of description
                            - const firstSentence = subsection.subsection_description.split('.')[0]
                            span.courses-card__content--subtitle= firstSentence ? `${firstSentence}.` : ''

                            p.courses-card__content--description= subsection.subsection_description
                            
                            if subsection.pdf_path
                                a(href=subsection.pdf_path, target="_blank" onclick="event.stopPropagation()")
                                    button.btn-psu Explore PDF
                            else
                                a(href=`/about/newaccreditations/${subsection.id}` onclick="event.stopPropagation()")
                                    button.btn-psu Explore